---
- name: Load distribution-specific variables
  ansible.builtin.include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_distribution | lower | replace(' ', '-') }}-{{ ansible_distribution_major_version | lower }}.yml"
    - "{{ ansible_distribution | lower | replace(' ', '-') }}.yml"

- ansible.builtin.include_tasks: dmcrypt.yml
- ansible.builtin.include_tasks: pm.yml
