[Unit]
Description=Apply updated dotfiles configuration once every day

[Timer]
OnUnitActiveSec=1d
OnStartupSec=1m
Persistent=true

[Install]
WantedBy=timers.target
