[Unit]
Description=After-sleep services
After=sleep.target

[Service]
Type=simple
Exec=udevadm trigger
ExecStart=/usr/bin/systemctl restart mnt-media.automount

[Install]
WantedBy=suspend.target
