[Unit]
Description=Change X configuration based on available graphics drivers
Before=display-manager.service


[Service]
Type=simple
ExecStart=/usr/bin/sh /home/sri/dotfiles/intel.sh

[Install]
RequiredBy=graphical.target
