[Unit]
Description=LightDM screenlocker service
Documentation=man:light-locker man:light-locker-command
Wants=lightdm.service


[Service]
Type=simple
ExecStart=/usr/bin/light-locker --lock-on-suspend

[Install]
WantedBy=lightdm.service
