ChatView { background: #262626; }
NickView { background: #262626; }
BufferView { background: #262626; }
QTextEdit { background: #262626; color: #E2E2E2; }
StyledLabel#topicLabel { background: #262626; }
TopicWidget { background: #262626; }

ChatLine::url { foreground: #F8F8F2; }