ChatView { background: #272822; }
NickView { background: #272822; }
BufferView { background: #272822; }
QTextEdit { background: #272822; color: #E2E2E2; }
StyledLabel#topicLabel { background: #272822; }
TopicWidget { background: #272822; }

ChatLine::url { foreground: #F8F8F2; }