---
- name: Install AWS CLI (Linux)
  when: ansible_system == 'Linux'
  block:
    - name: Ensure aws package dependencies are installed
      become: true
      ansible.builtin.package:
        name:
          - python
          - unzip
        state: present

    - name: Register AWS CLI version
      ansible.builtin.shell:
        cmd: aws --version | awk '{split($1,a,"/"); print a[2]}'
      register: aws_version_cmd_output
      ignore_errors: true # we want the play to continue if the aws command is not present
      changed_when: false

    - name: Set AWS CLI version fact
      ansible.builtin.set_fact:
        aws_version: "{{ aws_version_cmd_output.stdout }}" # this will be blank if the version doesn't exist, which means no aws cli has been installed yet.

    - name: Find latest upstream AWS CLI version
      ansible.builtin.uri:
        url: https://api.github.com/repos/aws/aws-cli/tags?per_page=1
        return_content: true
      register: aws_cli_releases

    - name: Set latest upstream AWS CLI version
      ansible.builtin.set_fact:
        upstream_aws_version: "{{ aws_cli_releases.json | json_query('[0].name') }}"

    - name: Install latest AWS CLI version
      when: upstream_aws_version != aws_version
      block:
        - name: Create temp directory for AWS
          ansible.builtin.tempfile:
            state: directory
          register: aws_tempdir

        - name: Download latest AWS CLI zip
          ansible.builtin.unarchive:
            src: https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip
            dest: "{{ aws_tempdir.path }}/"
            remote_src: true
          register: awscli_path

        - name: Run the AWS installer # noqa no-changed-when
          ansible.builtin.command:
            cmd: "{{ awscli_path.dest }}/aws/install --update -i {{ local_dir }} -b {{ local_bin_dir }}"

        - name: Clean up temp directory
          ansible.builtin.file:
            path: "{{ aws_tempdir.path }}"
            state: absent
          when: aws_tempdir.path is defined

- name: Install AWS CLI (Homebrew)
  when: ansible_system == 'Darwin'
  ansible.builtin.package:
    name:
      - awscli
