---
- name: Ensure dnf-automatic is installed (Only on headless systems)
  become: true
  ansible.builtin.package:
    name: dnf5-plugin-automatic
    state: present
  when: not is_graphical

- name: Ensure dnf-automatic timer unit is enabled ()
  become: true
  ansible.builtin.systemd:
    enabled: true
    state: started
    name: dnf-automatic.timer
  when: not is_graphical

- name: Configure dnf dropin configuration
  become: true
  ansible.builtin.copy:
    dest: /etc/dnf/libdnf5.conf.d/80-local-dnf.conf
    src: files/fedora/80-local-dnf.conf
    owner: root
    group: root
    mode: "0644"
