---
- name: Ensure gitconfig is in place
  ansible.builtin.copy:
    src: gitconfig
    dest: "{{ ansible_env.HOME }}/.gitconfig"
    mode: "0644"

- name: Ensure git aliases are present
  ansible.builtin.copy:
    src: files/git/07-git-aliases
    dest: "{{ bash_config_dropins_dir }}/07-git-aliases"
    mode: "0644"

- name: Ensure latest jujutsu is installed
  when: ansible_system == 'Linux'
  block:
    - name: Get latest jujutsu release info from github
      ansible.builtin.uri:
        url: https://api.github.com/repos/jj-vcs/jj/releases/latest
        return_content: true
      register: base_jj_release_info

    - name: Set latest jujutsu version fact
      ansible.builtin.set_fact:
        base_jj_latest_version: "{{ base_jj_release_info.json | json_query('name') }}"

    - name: Check installed jujutsu version
      ansible.builtin.command:
        cmd: "{{ ansible_env.HOME }}/.local/bin/jj --version"
      register: base_jj_installed_version_cmd
      ignore_errors: true
      changed_when: false

    - name: Set installed jujutsu version fact
      ansible.builtin.set_fact:
        # normalize output to match the format of the latest version tag
        # jj --version returns something like jj 0.36.0-70fd8f7697fbc20a9329a6e2f790ef86a8e284d1
        base_jj_installed_version: "v{{ base_jj_installed_version_cmd.stdout.split('-')[0].split(' ')[1] if (base_jj_installed_version_cmd.rc == 0) else '' }}"

    - name: Download and unpack latest jujutsu tarball
      when: base_jj_installed_version != base_jj_latest_version
      ansible.builtin.unarchive:
        remote_src: true
        src: https://github.com/jj-vcs/jj/releases/download/{{ base_jj_latest_version }}/jj-{{ base_jj_latest_version }}-x86_64-unknown-linux-musl.tar.gz
        dest: "{{ local_bin_dir }}"
        mode: "0755"
        include:
          - ./jj

- name: Ensure latest jujutsu is installed
  when: ansible_system == 'Darwin'
  ansible.builtin.package:
    name:
      - jj
