---
- name: Lookup all files in /etc/update-motd.d
  ansible.builtin.find:
    paths: /etc/update-motd.d
    file_type: file
    patterns: "*"
  register: update_motd_files

- name: Ensure motd messages don't show up.
  become: true
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: file
    mode: "0644"
  with_items: "{{ update_motd_files.files }}"

- name: Drop unattended upgrades config
  become: true
  ansible.builtin.file:
    src: ubuntu/50unattended-upgrades
    dest: /etc/apt/apt.conf.d/50unattended-upgrades

- name: Drop auto upgrades config
  become: true
  ansible.builtin.file:
    src: ubuntu/20auto-upgrades
    dest: /etc/apt/apt.conf.d/20auto-upgrades

- name: Disable motd timer
  become: true
  ansible.builtin.systemd:
    enabled: false
    name: motd-news.timer
    state: stopped
  when: ansible_service_mgr == 'systemd'

- name: Disable fwupd refresh timer
  become: true
  ansible.builtin.systemd:
    enabled: false
    state: stopped
    name: fwupd-refresh.timer
  when: ansible_service_mgr == 'systemd'
