<?xml version="1.0" encoding="utf-8"?>
<openbox_menu>
	<menu id="root-menu" label="OpenBox 3">
		<separator label="ArchmageRina"/>
		<item label="Terminal">
			<action name="Execute">
				<execute>lxterminal</execute>
			</action>
		</item>
		<item label="IRC Client">
			<action name="Execute">
				<execute>quasselclient</execute>
			</action>
		</item>
		<item label="Web Browser">
			<action name="Execute">
				<execute>google-chrome</execute>
			</action>
		</item>
		<item label="File Manager">
			<action name="Execute">
				<execute>thunar</execute>
			</action>
		</item>
		<item label="Music Player">
			<action name="Execute">
				<execute>sonata</execute>
			</action>
		</item>
		<separator label="Programs"/>
		<menu id="1" label="Development">
			<item label="IDLE">
				<action name="Execute">
					<execute>idle</execute>
				</action>
			</item>
			<item label="Python">
				<action name="Execute">
					<execute>xterm -e python</execute>
				</action>
			</item>
			<item label="IntelliJ IDEA">
				<action name="Execute">
					<execute>/usr/bin/idea.sh</execute>
				</action>
			</item>
			<item label="Qt Assistant">
				<action name="Execute">
					<execute>assistant</execute>
				</action>
			</item>
			<item label="Qt Designer">
				<action name="Execute">
					<execute>designer</execute>
				</action>
			</item>
			<item label="Qt Linguist">
				<action name="Execute">
					<execute>linguist</execute>
				</action>
			</item>
		</menu>
		<menu id="2" label="Editors">
			<item label="Leafpad">
				<action name="Execute">
					<execute>leafpad</execute>
				</action>
			</item>
			<item label="Nano">
				<action name="Execute">
					<execute>xterm -e nano</execute>
				</action>
			</item>
			<item label="Sublime Text 2">
				<action name="Execute">
					<execute>/home/sri/apps/ST2/sublime_text</execute>
				</action>
			</item>
			<item label="Vi">
				<action name="Execute">
					<execute>xterm -e vi</execute>
				</action>
			</item>
			<item label="Vim">
				<action name="Execute">
					<execute>xterm -e vim</execute>
				</action>
			</item>
		</menu>
		<menu id="7" label="Multimedia">
			<item label="ALSA mixer">
				<action name="Execute">
					<execute>xterm -geometry 161x25 -e alsamixer</execute>
				</action>
			</item>
			<item label="Equalizer">
				<action name="Execute">
					<execute>xterm -geometry 123x25 -e alsamixer -D equal</execute>
				</action>
			</item>
			<item label="Sonata">
				<action name="Execute">
					<execute>sonata</execute>
				</action>
			</item>
		</menu>
		<menu id="5" label="Network">
			<item label="FTP">
				<action name="Execute">
					<execute>xterm -e ftp</execute>
				</action>
			</item>
			<item label="Google Chrome">
				<action name="Execute">
					<execute>google-chrome</execute>
				</action>
			</item>
			<item label="Quassel IRC">
				<action name="Execute">
					<execute>quassel</execute>
				</action>
			</item>
			<item label="Quassel IRC (Client only)">
				<action name="Execute">
					<execute>quasselclient</execute>
				</action>
			</item>
			<item label="Transmission">
				<action name="Execute">
					<execute>transgui</execute>
				</action>
			</item>
			<item label="Talk">
				<action name="Execute">
					<execute>xterm -e talk</execute>
				</action>
			</item>
			<item label="Telnet">
				<action name="Execute">
					<execute>xterm -e telnet</execute>
				</action>
			</item>
		</menu>
		<menu id="39" label="Other">
			<menu id="39-692429" label="Office">
				<item label="QPDFView">
					<action name="Execute">
						<execute>qpdfview</execute>
					</action>
				</item>
				<item label="Libreoffice">
					<action name="Execute">
						<execute>libreoffice</execute>
					</action>
				</item>
			</menu>
			<item label="Matlab">
				<action name="Execute">
					<execute>/home/sri/MatLab/bin/matlab -desktop</execute>
				</action>
			</item>
			<item label="CMake">
				<action name="Execute">
					<execute>cmake-gui</execute>
				</action>
			</item>
			<item label="Dropbox">
				<action name="Execute">
					<execute>dropboxd</execute>
				</action>
			</item>
			<item label="Help">
				<action name="Execute">
					<execute>khelpcenter</execute>
				</action>
			</item>
			<item label="KeePass Password Safe">
				<action name="Execute">
					<execute>keepass</execute>
				</action>
			</item>
			<item label="QT V4L2 test Utility">
				<action name="Execute">
					<execute>qv4l2</execute>
				</action>
			</item>
		</menu>
		<menu id="19" label="Shells">
			<item label="LXTerminal">
				<action name="Execute">
					<execute>lxterminal</execute>
				</action>
			</item>
			<item label="UXTerm">
				<action name="Execute">
					<execute>uxterm</execute>
				</action>
			</item>
			<item label="Xterm">
				<action name="Execute">
					<execute>xterm</execute>
				</action>
			</item>
		</menu>
		<menu id="37" label="System">
			<menu id="36" label="Settings">
				<item label="Customize Look and Feel">
					<action name="Execute">
						<execute>lxappearance</execute>
					</action>
				</item>
				<item label="Openbox Configuration Manager">
					<action name="Execute">
						<execute>obconf</execute>
					</action>
				</item>
				<item label="Openbox Menu Manager">
					<action name="Execute">
						<execute>obmenu</execute>
					</action>
				</item>
				<item label="Preferred Applications">
					<action name="Execute">
						<execute>libfm-pref-apps</execute>
					</action>
				</item>
			</menu>
			<item label="dconf Editor">
				<action name="Execute">
					<execute>dconf-editor</execute>
				</action>
			</item>
			<item label="Nepomuk Backup">
				<action name="Execute">
					<execute>nepomukbackup</execute>
				</action>
			</item>
			<item label="Nepomuk File Indexing Controller">
				<action name="Execute">
					<execute>nepomukcontroller</execute>
				</action>
			</item>
			<item label="pstree">
				<action name="Execute">
					<execute>xterm -e pstree.x11</execute>
				</action>
			</item>
		</menu>
		<menu id="38" label="Utilities">
			<item label="7-Zip FM">
				<action name="Execute">
					<execute>7zFM</execute>
				</action>
			</item>
			<item label="Archive Manager">
				<action name="Execute">
					<execute>file-roller</execute>
				</action>
			</item>
			<item label="Info">
				<action name="Execute">
					<execute>xterm -e info</execute>
				</action>
			</item>
			<menu id="38-34743" label="X Utilities">
				<item label="Xclock (analog)">
					<action name="Execute">
						<execute>xclock -analog</execute>
					</action>
				</item>
				<item label="Xclock (digital)">
					<action name="Execute">
						<execute>xclock -digital</execute>
					</action>
				</item>
				<item label="Xclock (digital)">
					<action name="Execute">
						<execute>xclock -digital -update 1</execute>
					</action>
				</item>
				<item label="Xev">
					<action name="Execute">
						<execute>xterm -e xev</execute>
					</action>
				</item>
				<item label="Xrefresh">
					<action name="Execute">
						<execute>xrefresh</execute>
					</action>
				</item>
				<item label="Xsetroot">
					<action name="Execute">
						<execute>xsetroot</execute>
					</action>
				</item>
			</menu>
		</menu>
		<separator label="System"/>
		<menu id="40" label="OpenBox">
			<menu id="client-list-menu"/>
			<item label="Reconfigure">
				<action name="Reconfigure"/>
			</item>
		</menu>
		<menu id="root-menu-39328" label="Exit">
			<item label="Exit">
				<action name="Exit"/>
			</item>
			<item label="Suspend">
				<action name="Execute">
					<execute>systemctl suspend</execute>
				</action>
			</item>
			<item label="Hibernate">
				<action name="Execute">
					<execute>systemctl hibernate</execute>
				</action>
			</item>
			<item label="Reboot">
				<action name="Execute">
					<execute>systemctl reboot</execute>
				</action>
			</item>
			<item label="Shutdown">
				<action name="Execute">
					<execute>systemctl poweroff</execute>
				</action>
			</item>
		</menu>
	</menu>
</openbox_menu>
